In [2]:
import pandas as pd

base=pd.read_csv(r"C:\Users\91808\Downloads\Insurance\artifact\05012024__192259\data_ingestion\feature_store\insurance.csv")
train_df=pd.read_csv(r"C:\Users\91808\Downloads\Insurance\artifact\05012024__192259\data_ingestion\dataset\train.csv")
test_df=pd.read_csv(r"C:\Users\91808\Downloads\Insurance\artifact\05012024__192259\data_ingestion\dataset\test.csv")

def drop_missing_values_columns(df:pd.DataFrame,report_key_name:str):
            validation_error=dict()
            threshold=0.2
            null_report=df.isna().sum()/df.shape[0]
            # logging.info(f"selecting coumn name which contains null above to {threshold}")
            drop_column_names=null_report[null_report>threshold].index
            # logging.info(f"column to drop :{list(drop_column_names)}")
            validation_error[report_key_name]=list(drop_column_names)
            df.drop(list(drop_column_names),axis=1,inplace=True)

            if len(df.columns)==0:
                return None
            return df
print(drop_missing_values_columns(df=base,
                        report_key_name="missing_values_within_base_dataset"))

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [10]:
null_report=base.isna().sum()/base.shape[0
                                         ]
null_report

age         0.0
sex         0.0
bmi         0.0
children    0.0
smoker      0.0
region      0.0
expenses    0.0
dtype: float64

In [11]:
print(drop_missing_values_columns(df=train_df,
                        report_key_name="missing_values_within_base_dataset"))

      age     sex   bmi  children smoker     region  expenses
0      46  female  20.0         2     no  northwest   9193.84
1      47  female  24.3         0     no  northeast   8534.67
2      52  female  24.9         0     no  southeast  27117.99
3      39  female  34.3         5     no  southeast   8596.83
4      54  female  21.5         3     no  northwest  12475.35
...   ...     ...   ...       ...    ...        ...       ...
1065   18  female  31.4         4     no  northeast   4561.19
1066   39  female  23.9         5     no  southeast   8582.30
1067   58    male  25.2         0     no  northeast  11931.13
1068   37  female  47.6         2    yes  southwest  46113.51
1069   55    male  29.9         0     no  southwest  10214.64

[1070 rows x 7 columns]

In [12]:
print(drop_missing_values_columns(df=test_df,
                        report_key_name="missing_values_within_base_dataset"))

     age     sex   bmi  children smoker     region  expenses
0     45  female  25.2         2     no  northeast   9095.07
1     36  female  30.0         0     no  northwest   5272.18
2     64  female  26.9         0    yes  northwest  29330.98
3     46    male  25.7         3     no  northwest   9301.89
4     19    male  31.9         0    yes  northwest  33750.29
..   ...     ...   ...       ...    ...        ...       ...
263   63    male  35.1         0    yes  southeast  47055.53
264   58  female  27.2         0     no  northwest  12222.90
265   38    male  28.0         1     no  northeast   6067.13
266   54  female  47.4         0    yes  southeast  63770.43
267   51  female  34.2         1     no  southwest   9872.70

[268 rows x 7 columns]

In [57]:
df=pd.read_csv(r"C:\Users\91808\Downloads\Insurance\insurance.csv")
df.tail()

      age     sex   bmi  children smoker     region  expenses
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

In [39]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [40]:
type(df)

pandas.core.frame.DataFrame

In [54]:
df.shape

(1338, 7)

In [84]:
df["checking"]="na"

In [85]:
df

      age     sex   bmi  children smoker     region  expenses checking
0      19  female  27.9         0    yes  southwest  16884.92       na
1      18    male  33.8         1     no  southeast   1725.55       na
2      28    male  33.0         3     no  southeast   4449.46       na
3      33    male  22.7         0     no  northwest  21984.47       na
4      32    male  28.9         0     no  northwest   3866.86       na
...   ...     ...   ...       ...    ...        ...       ...      ...
1333   50    male  31.0         3     no  northwest  10600.55       na
1334   18  female  31.9         0     no  northeast   2205.98       na
1335   18  female  36.9         0     no  southeast   1629.83       na
1336   21  female  25.8         0     no  southwest   2007.95       na
1337   61  female  29.1         0    yes  northwest  29141.36       na

[1338 rows x 8 columns]

In [86]:
print(drop_missing_values_columns(df=df,
                        report_key_name="missing_values_within_base_dataset"))

      age     sex   bmi  children smoker     region  expenses checking
0      19  female  27.9         0    yes  southwest  16884.92       na
1      18    male  33.8         1     no  southeast   1725.55       na
2      28    male  33.0         3     no  southeast   4449.46       na
3      33    male  22.7         0     no  northwest  21984.47       na
4      32    male  28.9         0     no  northwest   3866.86       na
...   ...     ...   ...       ...    ...        ...       ...      ...
1333   50    male  31.0         3     no  northwest  10600.55       na
1334   18  female  31.9         0     no  northeast   2205.98       na
1335   18  female  36.9         0     no  southeast   1629.83       na
1336   21  female  25.8         0     no  southwest   2007.95       na
1337   61  female  29.1         0    yes  northwest  29141.36       na

[1338 rows x 8 columns]

In [79]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
checking    0
dtype: int64